.fa {
    color: #991920;
}

.fa-sub {
    position: relative;
    left: -.5em;
    width: .2em;
    vertical-align: -.25em;
    text-shadow: -1px -1px 0px white, -1px 1px 0px white, -1px 0px 0px white; // optional contrast
}


.jumbo-h1 {
    font-size: 5em;
    background-color: white;
}

.intro {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.intro a {
    color: #991920;
}

.responsive {
    width: auto;
    height: 100%;
}
