.fa {
    color: #991920;
}

.jumbo-h1 {
    font-size: 5em;
}

.intro {
    padding-left: 2em;
    padding-right: 2em;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.intro a {
    color: #991920;
}

.pic{
    background-image: url("pictures/profile2.jpg");
    background-size: cover;
    height: 100%;
}

.clearfix{
    clear:both
}

* {
        overflow: hidden;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
